body {
  text-align: center;

  background-color: chocolate;

}

h1 {
   text-align: center;

}

ol{
width: 10%;
margin:auto;


}

img {
  width: 200px;
  height: auto;
}

.column {
  width: 250px;
  display: inline;
  color: aqua;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  border:4px cornflowerblue solid;
  padding:10px;
  margin:20px;



}

.container {
  border: 2px green solid;
  display: flex;
  justify-content: center;
  align-items: center;
}