body {
  text-align: center;

  background-color: chocolate;

}

h1 {
   text-align: center;

}

ol{
width: 15%;
margin:auto;
color:aqua;
font-family: 'Times New Roman', Times, serif;
background-color: black;
border:4px cornflowerblue solid;
padding: 10px;


}

img {
  width: 200px;
  height: auto;
}

.column {
  width: 250px;
  display: inline;
  color: aqua;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  border:4px cornflowerblue solid;
  padding:10px;
  margin:20px;


}

.container {
  border: 4px aqua solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

li {
margin: 20px;
}