body {
  text-align: center;

  background-color: chocolate;

}

h1 {
   text-align: center;

}

ol{
width: 10%;
margin:auto;


}

img {
  width: 200px;
  height: auto;
}

.column {
  width: 250px;
  display: inline;

}

.container {
  border: 2px green solid;
  display: flex;
  justify-content: center;
  align-items: center;
}